.navbar{
    display:flex;
    justify-content:center;
}
.navbar-link{
    display: flex;

}
.nav-item{
  list-style: none;
  
}
.nav-item-2{
    justify-content: space-evenly;
    display: flex;
    margin: 20px;
    gap: 20px;
}
.btn-primary{
    background-color: #FEA301;
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    height: 50px;
    width: 195px;
}
.btn{
align-items: center;
}
.btn-secondary{
    color: white;
    border-radius: 8px;
    padding: 10px;
    border: none;
    height: 50px;
    width: 195px;  
    background-color: black;
    margin-left: 500px;
    margin-top: 80px;
    
}
.banner{
    display: flex;
   align-items: center;
   gap: 100px;
   width: 115px;
   height: 575px;
   margin-left: 300px;
   
   
}
.banner-connet{
    
}
.banner-btn{
    background-color:black;
    padding: 10;
    height: 50px;
    width: 195px;
    border-radius: 8px;
    color: white;
}
.banner-title-1{
    color: orange;
    font-weight: bold;
}
.banner-title-2{
    color:black ;
    font-weight: bold;
}
.banner-title-3{
    color: skyblue;
    font-weight: bold;
}
.section-1{
    margin-left: 200px;
    margin-top: 80px;
    margin-bottom: 40px;
}
.section-title{

    text-align: center;
    color: black;
    font-weight: 900;
    font-size: 50px;
}
.card-container{
    display: flex;
    gap: 50px;
    margin-top: 80px;
}
.card-1{
    background-color: #DEF5FF;
    border-radius: 15px;
    height: 390px;
    width: 365px;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.card-2{
    border-radius: 15px;
    height: 390px;
    width: 365px;
    background-color: #FFF4DC;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.card-3{
   border-radius: 15px;
    height: 390px;
    width: 365px; 
    background-color: #F2E8FF;
    align-items: center;
    justify-items: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.stories{
   margin-left: 200px ; 
}
.story{
    display: flex;
    margin-top: 20px;
}
.story-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footer-head{
    display: flex;
    gap: 100px;
    background-color: #01ACFD;
    height: 519px;
    width: 1200px;
    margin: 80px  auto;
}
.footer-one{
    display: block;
    margin-left: 50px;
}
.footer-1{
    display: flex;
    padding-top: 100px;
    
}
.footer-2 {
    list-style: none;
    padding-top: 120px;
    margin-left: 50px;
}
.footer-3{
    padding-top: 100px;
    margin-left: 50px;
}
@media screen and (max-width: 576px){
.banner{
   display: grid;
   grid-template-columns: repeat(1,1fr); 
   width: 357px;
   height: 725px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 990px;
    width: 357px;
    gap:0px ;
}
.story{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    height: 561px;
    width: 357px;
}
.footer-head{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 357px;
    height: 662px;
    margin-top: 0px;
}
.footer-3{
    background-color:   #01ACFD;
    gap: 0px;
    margin-top: 0px;
}
}
    
